<section class="experiencia-laboral" style="margin-top: 10%;">
    <div class="container text-center">
      <h1 class="banner titulo">Mi experiencia laboral</h1><br>
      <div class="row">
        <button type="button" class="btn btn-primary" routerLink="/nuevaexp">Agregar</button>
          <table class="table">
            <tbody>
            <!--<tr *ngFor="let Experiencia of expe">-->
              <tr><!--Eliminar este cuando se descomente el de arriba-->
              <td>
                <div class="container text-center" style="text-align: center;">
                  <img src="../../assets/img/logo-aberturas.png" alt="foto-perfil"  class="rounded-circle img-fluid opacidad hundir" style="width: 28vh;margin-bottom: 5vh;">
                    <!--<h1 class="banner fuente1">{{Experiencia.nombreE}}</h1>
                    <h2 class="banner fuente2">{{Experiencia.descripcionE}}</h2>-->
                    <h1 class="banner fuente1">Fabricante de aberturas</h1>
                    <h2 class="banner fuente2">Fabricación de aberturas de aluminio</h2>
                    <!-- <button style="margin: 3%; margin-left: -1%;" class="btn btn-warning" routerLink="/editexp/{{Experiencia.id}}">Actualizar</button> <button class="btn btn-danger" style="margin: 5%;">Borrar</button> -->
                    <button style="margin: 3%; margin-left: -1%;" class="btn btn-warning">Actualizar</button> <button class="btn btn-danger" style="margin: 5%;">Borrar</button>
                </div>
              </td>
              <td>
                  <div class="container text-center" style="text-align: center;">
                        <img src="../../assets/img/logo-electricidad.png" alt="foto-perfil"  class="rounded-circle img-fluid opacidad hundir electricidad" style="width: 33vh;">
                          <h1 class="banner fuente1">Electricista</h1>
                          <h2 class="banner fuente2">Instalaciones eléctricas domiciliarias</h2>
                          <button style="margin: 3%; margin-left: -1%;" class="btn btn-warning">Actualizar</button> <button class="btn btn-danger" style="margin: 5%;">Borrar</button>
                  </div>
              </td>
              <td>
                  <div class="container text-center" style="text-align: center;">
                        <img src="../../assets/img/logo-reparaciones.png" alt="foto-perfil"  class="img-fluid opacidad hundir" style="width: 29vh;margin-bottom: 5vh;">
                          <h1 class="banner fuente1">Técnico en reparaciones</h1>
                          <h2 class="banner fuente2">Reparación de electrodomésticos</h2>
                          <button style="margin: 3%; margin-left: -1%;" class="btn btn-warning">Actualizar</button> <button class="btn btn-danger" style="margin: 5%;">Borrar</button>
                  </div>
              </td>
            </tr>
          </tbody>
          </table>
        </div>
      </div>
    
  </section>
  <br><br><br><br><br><br><br><br><br><br><br><br>