.titulo{
    color: white; 
    font-family: 'Alumni Sans Pinstripe', sans-serif; 
    font-size: 400%;
}
.fuente1{
    color: white; 
    font-family: 'Alumni Sans Pinstripe', sans-serif; 
    font-size: 200%; 
    margin-bottom: -1%;
}
.fuente2{
    color: white; 
    font-family: 'Alumni Sans Pinstripe', sans-serif; 
    font-size: 120%;
    margin-bottom: -1%;
}
@media (max-width: 600px) {
    .titulo{
        font-size: 8vh;
        margin-bottom: -10%;
    }
    div img{
        scale: 50%;
        margin-top: -5%;
    }
    .fuente1{
        font-size: 115%;
        margin-top: -20%;
    }
    .fuente2{
        font-size: 95%;
    }
    .electricidad{
        margin-bottom: 5vh;
    }
  }
