<section class="experiencia-laboral" style="margin-top: 10%;">
    <div class="container text-center">
      <h1 class="banner titulo">Mis habilidades</h1><br>
<div class="row">
    <div class="col">
        <circle-progress
            [percent]="85"
            [radius]="10"
            [showImage]="true"
            [imageSrc]="'../../assets/img/html.png'"
            [imageHeight]="10"
            [imageWidth]="10"
            [outerStrokeWidth]="1.3"
            [innerStrokeWidth]="0.3"
            [space]="0.5"
            [outerStrokeColor]="'#e34c26'"
            [innerStrokeColor]="'grey'"
            [animation]="true"
            [responsive]="true"
            [animationDuration]="350">
        </circle-progress>
    </div>
    <div class="col">
        <circle-progress
            [percent]="70"
            [radius]="10"
            [showImage]="true"
            [imageSrc]="'../../assets/img/css.png'"
            [imageHeight]="12"
            [imageWidth]="12"
            [outerStrokeWidth]="1.3"
            [innerStrokeWidth]="0.3"
            [space]="0.5"
            [outerStrokeColor]="'#2965f1'"
            [innerStrokeColor]="'grey'"
            [animation]="true"
            [responsive]="true"
            [animationDuration]="350">
        </circle-progress>
    </div>
    <div class="col">
        <circle-progress
            [percent]="55"
            [radius]="10"
            [showImage]="true"
            [imageSrc]="'../../assets/img/js.png'"
            [imageHeight]="10"
            [imageWidth]="10"
            [outerStrokeWidth]="1.3"
            [innerStrokeWidth]="0.3"
            [space]="0.5"
            [outerStrokeColor]="'#f0db4f'"
            [innerStrokeColor]="'grey'"
            [animation]="true"
            [responsive]="true"
            [animationDuration]="350">
        </circle-progress>
    </div>
</div>
    </div>
</section>

