<div class="container-wave" style="height:510px; text-align: center; background: linear-gradient(rgba(255, 255, 255),rgba(0, 0, 0) ); display: flex;">
    <div class="wave" style="margin-bottom: -20%;">
      <div class="wave2" style="margin-bottom: 19%;" >
        <div class="wave3">
      <h1 class="bienvenido">BIENVENIDO A MI PORFOLIO</h1>
        </div>
      </div>
    </div>
  </div>
  <main>
    <div class="contenedor">
      <div class="img-content">
        <div style="background-color: rgb(0, 0, 0);"><img src="../../assets/img/Banner-Negro.png" width="150%"></div>
        <div class="texto transicion">
          <img src="../../assets/img/IngenieríaProgramación3.png" class="transicion" style="width: 200%; margin-top: -35%;">
        </div>
      </div>
    </div>
  <section class="no-parallax" style="background: linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0,1),rgba(0, 0, 0,0) ); margin-top: -10%;">
    <h1 class="conoceme justify-content" >Te invito a conocerme:</h1>
  </section>
  </main>

  <!-- <div class="container-wave" style="height:510px; text-align: center; background: linear-gradient(rgba(255, 255, 255),rgba(0, 0, 0) ); display: flex;">
    <div class="wave" style="margin-bottom: -20%;">
      <div class="wave2" style="margin-bottom: 19%;" >
        <div class="wave3">
      <h1 class="bienvenido">BIENVENIDO A MI PORFOLIO</h1>
        </div>
      </div>
    </div>
  </div>
  <main>
  <section class="parallax bg img-banner contenedor" style="background: linear-gradient(rgba(0, 0, 0,0.7),rgba(0, 0, 0,0.15),rgba(0, 0, 0,0) );margin-top: 11%;">
    <div class="texto transicion img-content">
      <h1>Hola</h1>
    </div>
  </section>
  <section class="no-parallax" style="background: linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0,1),rgba(0, 0, 0,0) ); margin-top: -10%;">
    <h1 class="conoceme justify-content" >Te invito a conocerme:</h1>
  </section>
  </main> -->