  <nav class="navbar navbar-expand-lg" style="background-color:rgb(255, 115, 0);">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
            <img src="../../assets/img/arg-programa-logo-personalizado.png" alt="arg-programa" height="50 px">
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <a href="#"><img src="../../assets/img/toggler.png" height="30px"></a>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
            <div class="col-6">
        <ul class="navbar-nav me-auto my-2 my-lg-0 ">
          <li class="nav-item">
            <a class="nav-link active fuente" aria-current="page" href="index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fuente" href="#">Proyectos</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fuente" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Más información
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item fuente" href="#">Ingeniería</a></li>
              <li><a class="dropdown-item fuente" href="#">Tecnicatura</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item fuente" href="#">Programación</a></li>
            </ul>
          </li>
        </ul>
        </div>
        <div class="col-3" style="align-items: center; display: flex; margin-bottom: -1%;">
        <ul>
          <li class="nav-item" style="display:flex; align-items: center;">
              <div class="col-4 fuente" style="align-items: center;">
            Mis redes
          </div>
          <div class="col-8" style="display: flex;">
            <a class="nav-link nav-bar-item-center" href="https://www.linkedin.com/in/francisco-nicol%C3%A1s-ruiz/" target="_blank"><img src="../../assets/img/logo-linkedin.png" alt="logo-linkedin" height="32 px"></a>
            <a class="nav-link nav-bar-item-center" href="https://github.com/FranciscoRuiz000" target="_blank"><img src="../../assets/img/logo-github.png" alt="logo-github" height="32 px"></a>
            <a class="nav-link nav-bar-item-center" href="https://www.facebook.com/francisconicolas.ruiz.16/" target="_blank"><img src="../../assets/img/logo- facebook.png" alt="logo-facebook" height="32 px" ></a>
          </div>
          </li>
        </ul>
        </div>
        <div class="col-xl-3 justify-content-end" style="display: flex; align-items: center;">
            <a class="nav-link disabled fuente2">Iniciar sesión</a>
            <a class="nav-link nav-bar" href="/login">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal" style="background-color:rgb(132, 230, 255); margin-left: -20%;" (click)="login()" *ngIf="!isLogged">
                  <img src="../../assets/img/logo-usuario-lock.png" alt="logo-usuario-lock" height="30 px">
                </button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal" style="background-color:rgb(132, 230, 255); margin-left: -10%;" (click)="onLogOut()" *ngIf="isLogged">
                  <!--<img src="../../assets/img/logo-usuario-lock.png" alt="logo-usuario-lock" height="30 px">-->
                  <div style="color: white;"><b>CERRAR SESIÓN</b></div>
                </button>
              </a>
        </div>
    </div>
    </div>
  </nav>