<section class="experiencia-laboral alineacion">
    <div class="container text-center">
      <h1 class="banner titulo">Mis proyectos</h1><br>
      <div class="row">
        <!--Carrusel de proyectos-->
        <div id="carouselExampleCaptions" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../assets/img/Proyectos/Imagen7.png" class="d-block w-100" alt="imagen1">
              <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.336)">
                <h5 class="proyecto">Planta Industrial Mixta PIM</h5>
                <p>Edificio administrativo de la planta industrial de la ciudad de Colón E.R</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="../../assets/img/Proyectos/Imagen13.png" class="d-block w-100" alt="imagen2">
              <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.336);">
                <h5 class="proyecto">Iluminación y ventilación natural</h5>
                <p>Diseñado para contar con iluminación y ventilación óptima en todos sus ambientes.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="../../assets/img/Proyectos/Imagen23.png" class="d-block w-100" alt="imagen3">
              <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.336);">
                <h5 class="proyecto">Edificio flexible</h5>
                <p>Locales diseñados para adaptarse a distintas ocupaciones o capacidades.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="../../assets/img/Proyectos/Imagen28.png" class="d-block w-100" alt="imagen4">
              <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.336);">
                <h5 class="proyecto">Desconexión y disfrute</h5>
                <p>Buffets integrados con el exterior, para garantizar la desconexión del trabajo.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="../../assets/img/Proyectos/Imagen25.png" class="d-block w-100" alt="imagen5">
              <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.336);">
                <h5 class="proyecto">Diseño moderno y ambientado</h5>
                <p>Diseño moderno, utilizando materiales industriales para no desentonar con el ambiente.</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="row">
        <!--Proyecto 1--> 
        <div class="col-md-4">
          <br>
          <div class="card text-white realzar" style="background-color:rgba(128, 128, 128, 0.50);">
            <img src="../assets/img/Proyectos/Casa.jpg" class="card-img-top opacidad" alt="Primer-proyecto">
            <div class="card-body">
              <h5 class="card-title proyecto">Mansión Jacarandá</h5>
              <p class="card-text descripcion">Mansión para 6 personas, con 350 m2 construidos. Cuenta con quincho, cochera, patio trasero y delantero con piscina y una agradable fachada moderna en la cual destaca un llamativo arból del Jacarandá ubicado en el haul de entrada.</p><br>
              <a href="#" class="btn btn-primary hundir conocer-mas">Conocer más!</a>
            </div>
          </div>
        </div>
        <!--Proyecto 2-->
        <div class="col-md-4">
          <br><div class="card text-white realzar" style="background-color:rgba(128, 128, 128, 0.50);">
            <img src="../assets/img/Proyectos/Imagen7.png" class="card-img-top opacidad" alt="Segundo-proyecto">
            <div class="card-body">
              <h5 class="card-title proyecto">PIM - Planta Industrial Mixta</h5>
              <p class="card-text descripcion">Edificio administrativo para la nueva planta industrial de la ciudad de Colón - Entre Ríos. Cuenta con oficinas flexibles y luminosas, un gran SUM para todo tipo de eventos, buffet, estacionamiento, patio parquizado, comedor, baños públicos y privados, y mucho más!. </p>
              <a href="#" class="btn btn-primary hundir conocer-mas">Conocer más!</a>
            </div>
          </div>
        </div>
        <!--Proyecto 3-->
        <div class="col-md-4">
          <br><div class="card text-white realzar" style="background-color:rgba(128, 128, 128, 0.50);">
            <img src="../assets/img/Proyectos/Proximamente-proyecto.png" class="card-img-top opacidad" alt="Tercer-proyecto">
            <div class="card-body">
              <h5 class="card-title proyecto">Edificio Mariano Moreno</h5>
              <p class="card-text descripcion">Edificio de departamentos ubicado sobre calle Mariano Moreno, en la ciudad de Concepción del Uruguay. El cual albergará 36 departamentos del tipo monoambiente, una moderna recepción, cuartos de servicios y una terraza compartida para los inquilinos.</p><br>
              <a href="#" class="btn btn-primary hundir conocer-mas">Conocer más!</a>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </section>
