<section class="presentacion">
    <div class="container text-center" style="text-align: center;">
      <div class="row">
        <div class="col-xl-12">
          <img src="../../assets/img/perfil.png" alt="foto-perfil"  class="rounded-circle img-fluid" style="height: 50vh; animation: float 6s ease-in-out infinite;transform: translatey(0px); overflow: hidden;">
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12">
            <h1 style="font-size: 10vh;" class="banner fuente">Francisco Nicolás Ruiz</h1>
            <h2 style="font-size: 6vh; margin-top: -2vh;" class="banner fuente">Desarrollador web full stack </h2>
        </div>
      </div>
    </div>
  </section>
