<section class="recuadro">
    <div class="container text-center">
      <div class="row">
        <div class="col presentacion" style="align-items: center;">
          <img src="../../assets/img/presentacion.png" alt="Presentación" width="100%">
        </div>
        <div class="col" style="background-color: rgba(128, 128, 128, 0.10); border-bottom-right-radius: 10%; border-top-right-radius: 10%;">
          <h2 class="text-center texto-presentacion"> Soy un estudiante de Ingeniería civil, técnico mecánico y un apasionado por la electricidad. Me considero una persona entusiasta por el aprendizaje y por ampliar mis conocimientos en todos los ambitos posibles. Esto me llevó a incursionarme en el mundo de la programación web. </h2>
        </div>
      </div>
    </div>
    <br><br>
  </section>  