<div class="container-wave" style="height:510px; text-align: center; background: linear-gradient(rgba(255, 255, 255),rgba(0, 0, 0) ); display: flex;">
    <div class="wave" style="margin-bottom: -20%;">
      <div class="wave2" style="margin-bottom: 19%;" >
        <div class="wave3">
      <h1 class="bienvenido">BIENVENIDO A MI PORFOLIO</h1>
        </div>
      </div>
    </div>
  </div>
  <main>
  <section class="parallax bg img-banner" style="background: linear-gradient(rgba(0, 0, 0,0.7),rgba(0, 0, 0,0.15),rgba(0, 0, 0,0) );margin-top: 11%;">
  </section>
  <section class="no-parallax" style="background: linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0,1),rgba(0, 0, 0,0) ); margin-top: -10%;">
    <h1 class="conoceme justify-content" >Te invito a conocerme:</h1>
  </section>
  </main>

