.logo{
    align-items: center;
}
.login{
    background-color:rgb(132, 230, 255);
}
.redes-sociales{
    width: 40px; 
    margin-right: 10%;
}
.banner{
    width: 45px; 
    margin-right: 13%;
}
.perfil-dashboard{
    width: 45px; 
    margin-right: 13%;
}
.presentacion{
    width: 50px; 
    margin-right: 10%;
    margin-top: 4%;
}
.exp-laboral{
    width: 40px; 
    margin-right: 16%;
    margin-top: 3%;
}
.proyectos{
    width: 40px; 
    margin-right: 16%;
    margin-top: 1%;
}
.footer{
    width: 70px; 
    margin-right: 9%; 
    margin-left: -10%; 
    margin-top: 3%;
}
.panel{
    background-color: white; 
    margin-top: 25px; 
    border-radius: 10px; 
    margin-bottom: 1.5%; 
    margin-left: -0.9%; 
    border-color: black; 
    border-style:groove
}
@media (max-width: 600px) {
    .logo{
        align-items: center;
        margin-top: -2%;
    }
    .login{
        background-color:rgb(132, 230, 255);
        margin-top: -210%;
        margin-left: 170%;
    }
    .redes-sociales{
        width: 40px; 
        margin-right: 10%;
    }
    .banner{
        width: 45px; 
        margin-right: 9%;
    }
    .perfil-dashboard{
        width: 45px; 
        margin-right: 9%;
    }
    .presentacion{
        width: 50px; 
        margin-right: 8%;
        margin-top: 4%;
    }
    .exp-laboral{
        width: 40px; 
        margin-right: 11%;
        margin-top: 3%;
    }
    .proyectos{
        width: 40px; 
        margin-right: 11%;
        margin-top: 1%;
    }
    .footer{
        width: 70px; 
        margin-right: 7%; 
        margin-left: -5%; 
        margin-top: 1%;
    }
    .panel{
        background-color: white; 
        margin-top: -8%; 
        border-radius: 10px; 
        margin-bottom: 1.5%; 
        margin-left: -0.9%; 
        border-color: black; 
        border-style:groove;
    }
  }